@import './base.css';
@import "tailwindcss";

@theme {
  --color-cerulean-50: #eef4f7;
  --color-cerulean-100: #dceaef;
  --color-cerulean-200: #bad5de;
  --color-cerulean-300: #97bfce;
  --color-cerulean-500: #5295ad;
  --color-cerulean-600: #41778b;
  --color-cerulean-700: #315968;
  --color-cerulean-800: #213c45;
  --color-cerulean-900: #101e23;

  --color-brand-background: #eef4f7;
  --color-brand-surface: #dceaef;
  --color-brand-surface-contrast: #ffffff;
  --color-brand-border: #bad5de;
  --color-brand-primary: #41778b;
  --color-brand-primary-hover: #315968;
  --color-brand-accent: #5295ad;
  --color-brand-text: #101e23;
  --color-brand-text-secondary: #213c45;
  --color-brand-disabled: #97bfce;
}


@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: sans-serif;
    color: #333;
  }
}